<!DOCTYPE html>
<html>

	<head>
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width,initial-scale=1,minimum-scale=1,maximum-scale=1,user-scalable=no" />
		<title></title>
		<link href="../../css/mui.min.css" rel="stylesheet" />
		<link rel="stylesheet" href="purchase.css" />
		<style>
			.mui-control-content .mui-loading {
				margin-top: 50px;
			}
		</style>
	</head>

	<body>
		<header class="mui-bar mui-bar-nav">
			<a href="" class="mui-action-back mui-icon mui-icon-left-nav mui-pull-left" style="color:#000;"></a>
			<h1 class="mui-title">采购</h1>
			<a href="" class="mui-icon mui-icon-search mui-pull-right" style="color:#000;"></a>
		</header>

		<div class="mui-content">
			<div style="padding: 10px 10px;">
				<div id="segmentedControl" class="mui-segmented-control">
					<a class="mui-control-item mui-active" href="#item1">易损件</a>
					<a class="mui-control-item" href="#item2">车型件</a>

				</div>
			</div>
			<!--易损件-->
			<div id="item1" class="mui-control-content mui-active">
				<ul class="mui-table-view">
					<li class="mui-table-view-cell">
						<a class="mui-navigate-right">油品</a>
					</li>
					<li class="mui-table-view-cell">
						<a class="mui-navigate-right">滤清器</a>
					</li>
					<li class="mui-table-view-cell">
						<a class="mui-navigate-right">蓄电池</a>
					</li>
					<li class="mui-table-view-cell">
						<a class="mui-navigate-right">制动系</a>
					</li>
					<li class="mui-table-view-cell">
						<a class="mui-navigate-right">点火系</a>
					</li>
					<li class="mui-table-view-cell">
						<a class="mui-navigate-right">皮带涨紧轮</a>
					</li>
					<li class="mui-table-view-cell">
						<a class="mui-navigate-right">雨刮片</a>
					</li>
					<li class="mui-table-view-cell">
						<a class="mui-navigate-right">照明</a>
					</li>
					<li class="mui-table-view-cell">
						<a class="mui-navigate-right">养护用品</a>
					</li>
					<li class="mui-table-view-cell">
						<a class="mui-navigate-right">季节性产品</a>
					</li>
				</ul>
			</div>
			<!--车型件-->
			<div id="item2" class="mui-control-content">
				<ul class="mui-table-view">
					<li class="mui-table-view-cell">
						<a class="mui-navigate-right">油品</a>
					</li>
					<li class="mui-table-view-cell">
						<a class="mui-navigate-right">滤清器</a>
					</li>
					<li class="mui-table-view-cell">
						<a class="mui-navigate-right">蓄电池</a>
					</li>
					<li class="mui-table-view-cell">
						<a class="mui-navigate-right">制动系</a>
					</li>
					<li class="mui-table-view-cell">
						<a name="qweqweqweqw" class="mui-navigate-right">点火系</a>
					</li>
					<li class="mui-table-view-cell">
						<a class="mui-navigate-right">皮带涨紧轮</a>
					</li>
					<li class="mui-table-view-cell">
						<a class="mui-navigate-right">雨刮片</a>
					</li>
					<li class="mui-table-view-cell">
						<a class="mui-navigate-right">照明</a>
					</li>
					<li class="mui-table-view-cell">
						<a class="mui-navigate-right">养护用品</a>
					</li>
					<li class="mui-table-view-cell">
						<a class="mui-navigate-right">季节性产品</a>
					</li>
				</ul>
				</ul>
			</div>

		</div>
		
		</div>
		<script src="../../js/mui.min.js"></script>

		<script type="text/javascript">
			
				mui.init({
					preloadPages: [{
						id: 'detail.html',
						url: 'purchase_detail/purchase_detail.html'
					}]
				});
				mui.plusReady(function() {
					//公共方法
//					function openPage(id, url) {
//						mui.openWindow({
//							id: id,
//							url: url,
//						})
//					}
					//监听list点击事件
					var detailPage = null;
					mui(".mui-table-view").on('tap', '.mui-table-view-cell >a', function(e) {
						//获取id
						
						var id = this.getAttribute('name');
						var title = e.target.innerHTML;
						console.log(id);

						if(!detailPage) {

							detailPage = plus.webview.getWebviewById('detail.html');
						}
						//触发详情页面的newsId事件
						mui.fire(detailPage, 'newsId', {
							'id': id,
							'title':title,
							
						});
						//打开详情页面          
						mui.openWindow({
							id: 'detail.html',
						});
					})
				});
			
		</script>
	</body>

</html>