<!doctype html>
<html>

	<head>
		<meta charset="UTF-8">
		<title></title>
		<meta name="viewport" content="width=device-width,initial-scale=1,minimum-scale=1,maximum-scale=1,user-scalable=no" />
		<link href="../../../css/mui.min.css" rel="stylesheet" />
		<link rel="stylesheet" type="text/css" href="cash.css"/>
	</head>

	<body>
		<!-- 主界面不动、菜单移动 -->
		<!-- 侧滑导航根容器 -->
		<div class="mui-off-canvas-wrap mui-draggable mui-slide-in">
			
			<!-- 主页面容器 -->
			<div class="mui-inner-wrap">
				<!-- 主页面标题 -->
				<header class="mui-bar mui-bar-nav">
					<a href="" class="mui-action-back mui-icon mui-icon-left-nav mui-pull-left" style="color:#000;"></a>
					<h1 class="mui-title">申请提现</h1>
				</header>
				<div class="mui-content mui-scroll-wrapper">
					<div class="mui-scroll">
						<!-- 主界面具体展示内容 -->
						<p class="quote">您当前的提现额度为：
							<a href="#">90000.00</a>&nbsp;&nbsp;&nbsp;元</p>
						<form class="mui-input-group">
							<div class="mui-input-row">
								<label>提现：&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;￥</label>
								<input class="input-content" maxlength="10" type="text" name="" value="" placeholder="请输入体现金额" />
							</div>

						</form>
						<h5 class="title-pay">银行卡信息</h5>
						<form class="mui-input-group">
							<div class="mui-input-row">
								<label>户名</label>
								<input class="input-content" maxlength="10" type="text" name="" value="" placeholder="请输入收款人户名" />
							</div>
							<div class="mui-input-row">
								<label>账号</label>
								<input class="input-content" maxlength="10" type="text" name="" value="" placeholder="请输入收款人账号" />
							</div>
							<div class="mui-input-row">
								<label>银行</label>
								<input class="input-content" maxlength="10" type="text" name="" value="" placeholder="请输入收款人银行" />
							</div>
							<div class="mui-input-row">
								<label>短信验证码</label>
								<input class="input-content" maxlength="10" type="text" name="" value="" placeholder="请输入收款人账号" />
							</div>
						</form>
						<div class="btn-submit">
							<button>确认申请</button>
							<p>申请提交后，我们将在1-3个工作日完成审核并将提现款转入指定账户</p>
						</div>
					</div>
				</div>
				<div class="mui-off-canvas-backdrop"></div>
			</div>
		</div>
		<script src="../../../js/mui.min.js"></script>
		<script type="text/javascript">
			mui.init()
		</script>
	</body>

</html>