body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:1033px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u1639 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u1640_img {
  position:absolute;
  left:0px;
  top:0px;
  width:430px;
  height:880px;
}
#u1640 {
  position:absolute;
  left:0px;
  top:0px;
  width:430px;
  height:880px;
}
#u1641 {
  position:absolute;
  left:2px;
  top:432px;
  width:426px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1642_div {
  position:absolute;
  left:0px;
  top:0px;
  width:379px;
  height:673px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(204, 204, 204, 1);
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1642 {
  position:absolute;
  left:25px;
  top:104px;
  width:379px;
  height:673px;
}
#u1643 {
  position:absolute;
  left:2px;
  top:328px;
  width:375px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1644_img {
  position:absolute;
  left:0px;
  top:0px;
  width:376px;
  height:19px;
}
#u1644 {
  position:absolute;
  left:27px;
  top:105px;
  width:376px;
  height:19px;
}
#u1645 {
  position:absolute;
  left:2px;
  top:2px;
  width:372px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1646_div {
  position:absolute;
  left:0px;
  top:0px;
  width:376px;
  height:46px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:16px;
}
#u1646 {
  position:absolute;
  left:27px;
  top:124px;
  width:376px;
  height:46px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:16px;
}
#u1647 {
  position:absolute;
  left:2px;
  top:15px;
  width:372px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1648_img {
  position:absolute;
  left:0px;
  top:0px;
  width:21px;
  height:17px;
}
#u1648 {
  position:absolute;
  left:49px;
  top:139px;
  width:21px;
  height:17px;
}
#u1649 {
  position:absolute;
  left:2px;
  top:0px;
  width:17px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1650_div {
  position:absolute;
  left:0px;
  top:0px;
  width:376px;
  height:55px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1650 {
  position:absolute;
  left:27px;
  top:723px;
  width:376px;
  height:55px;
}
#u1651 {
  position:absolute;
  left:2px;
  top:20px;
  width:372px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1652_img {
  position:absolute;
  left:0px;
  top:0px;
  width:50px;
  height:35px;
}
#u1652 {
  position:absolute;
  left:190px;
  top:733px;
  width:50px;
  height:35px;
}
#u1653 {
  position:absolute;
  left:2px;
  top:10px;
  width:46px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1654_div {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1654 {
  position:absolute;
  left:57px;
  top:740px;
  width:57px;
  height:22px;
}
#u1655 {
  position:absolute;
  left:2px;
  top:2px;
  width:53px;
  white-space:nowrap;
}
#u1656_div {
  position:absolute;
  left:0px;
  top:0px;
  width:579px;
  height:80px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1656 {
  position:absolute;
  left:454px;
  top:381px;
  width:579px;
  height:80px;
}
#u1657 {
  position:absolute;
  left:0px;
  top:0px;
  width:579px;
  word-wrap:break-word;
}
#u1658_img {
  position:absolute;
  left:0px;
  top:0px;
  width:220px;
  height:220px;
}
#u1658 {
  position:absolute;
  left:105px;
  top:222px;
  width:220px;
  height:220px;
}
#u1659 {
  position:absolute;
  left:2px;
  top:102px;
  width:216px;
  visibility:hidden;
  word-wrap:break-word;
}
