.categories {
    -moz-user-select: none;
    -webkit-user-select: none;
    user-select: none;
}

.categoriesTreeBox {
    padding: 15px 20px;
}

.categoriesLocate {
    display: none;
    text-align: center;
    padding: 45px 0;
}

.categoriesLocate>p {
    line-height: 40px;
}

.categoriesInfo {
    display: none;
    padding: 40px 20px;
}

.categoriesInfo .layui-input-inline {
    display: block;
    padding-right: 30px;
    margin: 10px 0;
}

.categoriesInfo .layui-input-inline select {
    width: 100%;
}

.layui-layer-btn {
    text-align: center !important;
}

.layui-layer-btn0,
.layui-layer-btn1,
.layui-layer-btn2,
.layui-layer-btn3 {
    width: 93px!important;
    background-color: #2e8ded !important;
    color: #fff !important;
    text-align: center;
    margin: 3px 5px!important;
    padding: 3px 10px !important;
}