.categories {
    -moz-user-select: none;
    -webkit-user-select: none;
    user-select: none;
}
.menuContent{
	display: none;
    position: absolute;
    background: #fff;
    border: 1px solid #e2e2e2;
    z-index: 10;
}
.menuContent ul {
    margin-top: 0;
    width: 160px;
}

.categoriesTreeBox {
    padding: 15px 20px;
}

.categoriesLocate {
    display: none;
    text-align: center;
    padding: 45px 0;
}

.categoriesLocate>p {
    line-height: 40px;
}

.categoriesInfo {
    display: none;
    padding: 40px 20px;
}

.categoriesInfo .layui-input-inline {
    display: block;
    padding-right: 30px;
    margin: 10px 0;
}

.categoriesInfo .layui-input-inline select {
    width: 100%;
}

.layui-layer-btn {
    text-align: center !important;
}

.layui-layer-btn0,
.layui-layer-btn1,
.layui-layer-btn2,
.layui-layer-btn3 {
    width: 93px!important;
    background-color: #2e8ded !important;
    color: #fff !important;
    text-align: center;
    margin: 3px 5px!important;
    padding: 3px 10px !important;
}

 /* Í¼Æ¬ÉÏ´« */
.uploadImgTitle {
    margin: 20px 0 8px 0px;
}

.uploadImg .siteUpload {
    width: 140px;
    height: 140px;
    line-height: 140px;
    text-align: center;
    display: inline-block;
    position: relative;
    margin-right: 10px;
}

.uploadImg .siteUpload:hover .closeBtn {
    display: block;
}

.uploadImg .siteUpload:nth-child(5) {
    margin-right: 0;
}

.uploadImg .siteUpload img {
    width: 100%;
    height: 100%;
    position: absolute;
    left: 0;
    z-index: 10;
}

.uploadImg .siteUpload .layui-box {
    width: 138px;
    height: 140px;
    line-height: 140px;
}

.uploadImg .siteUpload .closeBtn {
    display: none;
    width: 20px;
    height: 20px;
    line-height: 20px;
    text-align: center;
    font-size: 0;
    position: absolute;
    top: 2px;
    right: 2px;
    z-index: 10;
    cursor: pointer;
}

.uploadImg .siteUpload .closeBtn i {
    color: #fff;
}
