<!doctype html>
<html>

	<head>
		<meta charset="UTF-8">
		<title></title>
		<meta name="viewport" content="width=device-width,initial-scale=1,minimum-scale=1,maximum-scale=1,user-scalable=no" />
		<link href="../../css/mui.min.css" rel="stylesheet" />
		<link rel="stylesheet" type="text/css" href="setting_password.css"/>
	</head>

	<body>
		<header class="mui-bar mui-bar-nav">
		    <a class="mui-action-back mui-icon mui-icon-left-nav mui-pull-left"></a>
		    <h1 class="mui-title">设置新密码</h1>
		</header>
		<div class="mui-content">
			<form id='login-form' class="mui-input-group">
				<div class="mui-input-row">
					<label>新的密码</label>
					<input id='newpwd' type="text" class="mui-input-clear mui-input" placeholder="请输入账号">
				</div>
				<div class="mui-input-row">
					<label>重复密码</label>
					<input id='repeatpwd' type="text" class="mui-input-clear mui-input" placeholder="请输入密码">
				</div>
			</form>
			<div class="mui-content-padded">
				<button id='confirm' class="mui-btn mui-btn-block mui-btn-primary">确定</button>
				
			</div>
		</div>
		<script src="../../js/mui.min.js"></script>
		<script type="text/javascript">
			mui.init()
			mui.plusReady(function(){
				var newpwd = document.getElementById('newpwd');
				var repeatpwd = document.getElementById('repeatpwd');
				document.getElementById('confirm').addEventListener('tap',function(){
					if(newpwd.value ==repeatpwd.value){
						mui.openWindow({
							url:'../../index.html',
							id:'index',
							show: {
								aniShow: 'pop-in'
							}

						})
					}else{
						newpwd.value = '';
						repeatpwd.value = '';
						plus.nativeUI.toast("两次输入的密码不一致");
					}
				},false)
			})
		</script>
	</body>

</html>