.mui-input-group {
	margin-top: 10px;
}

.mui-input-group:first-child {
	margin-top: ;
}

.mui-content-padded {
	margin-top: 25px;
}

.mui-content-padded>button {
	/*width: 100px;*/
}

.mui-btn {
	padding: 10px;
}

.link-area {
	display: block;
	margin-top: 25px;
	text-align: center;
}