.layui-table {
	margin: 0px;
}

.layui-table td {
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
}

.mylayui-item {
	padding: 0px 40px
}

.shipbox {
	text-align: center;
}

.shipbox button {
	width: 200px;
}
.imgBox{
	display: inline-block;
}
.mylayui-img{
	width: 120px;
	height: 120px;
}
.tableContainer {
    width: 100%;
    overflow: auto;
    margin-top: 10px;
}

