.mt-1 {
	margin-top: 25px;
}
.account-content {
	text-align: center;
	overflow: hidden;
	width: 100%;
}
.send-msg {
	margin-top: 25px;
}
.send-msg input {
	width: 42%;
}
.mui-input-row .input-cont {
	margin-top: 25px;
	width: calc(100%/7);
	height: 40px;
	border: 1px solid #555555;
	text-align: center;
}
.btn-sure button {
	margin: 50px 0 20px 0;
	padding: 10px 35px;
	border-radius: 5px;
	border: 1px solid #000000;
}
