<!doctype html>
<html>

	<head>
		<meta charset="UTF-8">
		<title></title>
		<meta name="viewport" content="width=device-width,initial-scale=1,minimum-scale=1,maximum-scale=1,user-scalable=no" />
		<link href="../../../css/mui.min.css" rel="stylesheet" />
		<link rel="stylesheet" type="text/css" href="account.css" />
	</head>

	<body>
		<!-- 主界面不动、菜单移动 -->
		<!-- 侧滑导航根容器 -->
		<div class="mui-off-canvas-wrap mui-draggable mui-slide-in">
			<!-- 主页面容器 -->
			<div class="mui-inner-wrap">
				<!-- 主页面标题 -->
				<header class="mui-bar mui-bar-nav">
					<a href="" class="mui-action-back mui-icon mui-icon-left-nav mui-pull-left" style="color:#000;"></a>
					<h1 class="mui-title">管理员账号</h1>
				</header>
				<div class="mui-content mui-scroll-wrapper">
					<div class="mui-scroll">
						<!-- 主界面具体展示内容 -->
						<div id="segmentedControl" class="mui-segmented-control mt-1">
							<a class="mui-control-item mui-active" href="#item1mobile"> 修改密码
							</a>
							<a class="mui-control-item" href="#item2mobile">
								修改账号
							</a>
						</div>
						<div class="mui-content-padded">
							<div id="item1mobile" class="mui-control-content mui-active">
								<ul class="mui-table-view">
									<li class="mui-table-view-cell account-content">
										<p class="send-msg">向手机号：17989898888&nbsp;&nbsp;&nbsp;&nbsp;
											<a href="#">发送验证码</a>
										</p>
										<form>
											<div class="mui-input-row">
												<input class="input-cont" maxlength="1" type="text" name="" value="" />
												<input class="input-cont" maxlength="1" type="text" name="" value="" />
												<input class="input-cont" maxlength="1" type="text" name="" value="" />
												<input class="input-cont" maxlength="1" type="text" name="" value="" />
												<input class="input-cont" maxlength="1" type="text" name="" value="" />
												<input class="input-cont" maxlength="1" type="text" name="" value="" />
											</div>
										</form>
										<div class="btn-sure">
											<button id="btn-submit">确定</button>
										</div>
									</li>
								</ul>
							</div>
							<div id="item2mobile" class="mui-control-content">
								<ul class="mui-table-view">
									<li class="mui-table-view-cell account-content">
										<p class="send-msg">新的手机号：
											<input type="text" maxlength="11" name="" id="" value="" />
											<a href="#">发送验证码</a>
										</p>
										<form>
											<div class="mui-input-row">
												<input class="input-cont" maxlength="1" type="text" name="" value="" />
												<input class="input-cont" maxlength="1" type="text" name="" value="" />
												<input class="input-cont" maxlength="1" type="text" name="" value="" />
												<input class="input-cont" maxlength="1" type="text" name="" value="" />
												<input class="input-cont" maxlength="1" type="text" name="" value="" />
												<input class="input-cont" maxlength="1" type="text" name="" value="" />
											</div>
										</form>
										<div class="btn-sure">
											<button>确定</button>
										</div>
									</li>
								</ul>
							</div>
						</div>
					</div>
				</div>
				<div class="mui-off-canvas-backdrop"></div>
			</div>
		</div>
		<script src="../../../js/mui.min.js"></script>
		<script type="text/javascript">
			mui.init()
			document.getElementById('btn-submit').addEventListener('tap', function() {
				mui.openWindow({
					url: 'resetPass/resetPass.html',
					id: 'resetPass'
				});
			});
		</script>
	</body>

</html>