<!doctype html>
<html>

	<head>
		<meta charset="UTF-8">
		<title></title>
		<meta name="viewport" content="width=device-width,initial-scale=1,minimum-scale=1,maximum-scale=1,user-scalable=no" />
		<link href="../../../css/mui.min.css" rel="stylesheet" />
		<link rel="stylesheet" type="text/css" href="change-store.css"/>
	</head>

	<body>
		<!-- 主界面不动、菜单移动 -->
		<!-- 侧滑导航根容器 -->
		<div class="mui-off-canvas-wrap mui-draggable mui-slide-in">
			<!-- 主页面容器 -->
			<div class="mui-inner-wrap">
				<!-- 主页面标题 -->
				<header class="mui-bar mui-bar-nav">
					<a href="" class="mui-action-back mui-icon mui-icon-left-nav mui-pull-left" style="color:#000;"></a>
					<h1 class="mui-title">切换门店</h1>
				</header>
				<div class="mui-content mui-scroll-wrapper">
					<div class="mui-scroll">
						<!-- 主界面具体展示内容 -->
						<ul class="mui-table-view store-content">
							<li class="mui-table-view-cell" id="route-account">
								<a class="mui-navigate-right">
									<span class="">华汽连锁·南京凤凰西街店</span>
								</a>
							</li>
							<li class="mui-table-view-cell" id="shop-name">
								<a class="mui-navigate-right">
									<span class="">华汽连锁·南京花生唐店</span>
								</a>
							</li>
							<li class="mui-table-view-cell">
								<a class="mui-navigate-right">
									<span class="">华汽连锁·南京珠江路店</span>
								</a>
							</li>
							<li class="mui-table-view-cell" id="shop-contact">
								<a class="mui-navigate-right">
									<span class="">华汽连锁·武汉人民广场店</span>
								</a>
							</li>
							<li class="mui-table-view-cell" id="img-background">
								<a class="mui-navigate-right">
									<span class="">华汽连锁·南京新街口店</span>
								</a>
							</li>
						</ul>
					</div>
				</div>
				<div class="mui-off-canvas-backdrop"></div>
			</div>
		</div>
		<script src="../../../js/mui.min.js"></script>
		<script type="text/javascript">
			mui.init()
		</script>
	</body>

</html>