<!doctype html>
<html>
	<head>
		<meta charset="UTF-8">
		<title></title>
		<meta name="viewport" content="width=device-width,initial-scale=1,minimum-scale=1,maximum-scale=1,user-scalable=no" />
		<link href="../../../css/mui.min.css" rel="stylesheet" />
		<link rel="stylesheet" href="logistics.css" />
	</head>

	<body style="background:;">
		<header class="mui-bar mui-bar-nav">
			<a href="" class="mui-action-back mui-icon mui-icon-left-nav mui-pull-left" style="color:#000;"></a>
			<h1 class="mui-title">查看物流</h1>
		</header>
		<div class="mui-content">
			<section class="logistics">
				<div class="mui-table-view">
				    <div class="mui-table-view-cell mui-media">
			            <img class="mui-pull-left" src="../../../img/login_bg.jpg" class="mui-pull-left">
			            <div class="mui-media-body mui-pull-left">
			           		<p>物流状态：<span class="falg">运输中</span></p>
			           		<p>承运方：顺丰速递</p>
			           		<p>运单号：123456789</p>
			           		<p>联系电话：15858565658</p>
			            </div>
			            <p class="l-number">2件商品</p>
				    </div>
				    <p class="remak">备注：请于3天后前往江苏省南京市栖霞区尧化门20号取件</p>
				 </div>
			</section>
			<section class="wuinfo mui-clearfix">
				<ul class="wudate mui-pull-left">
					<li><span class="mui-yuan"></span>
						<p>今天</p></li>
					<li><span class="mui-yuan"></span><p>今天<br />18:30</p></li>
					<li><span class="mui-yuan"></span><p>昨天<br />15:20</p></li>
					<li><span class="mui-yuan"></span><p>8月14</p></li>
					<li><span class="mui-yuan"></span><p>8月13</p></li>
					
				</ul>
				
				<ul class="wlinfo mui-pull-left">
					<li>
						<p>已交给顺丰物流承运</p>
						<p>承运人:张三</p>
						<p>联系电话：15856585856</p>
					</li>
					<li>
						<p>商品已发货</p>
						<p>承运方：顺丰物流</p>
					</li>
					<li>
						<p>商品出库</p>
						<p>订单处理</p>
					</li>
					<li>
						<p>商品出库</p>
						<p>订单处理</p>
					</li>
					<li>
						<p>商品出库</p>
						<p>订单处理</p>
					</li>
					
				</ul>
				<p class="Prompt">由于该物流企业不支持网络信息查询</p>
				<p class="Prompt">以上数据为华器连锁为你提供</p>
			</section>
			
		</div>
		<script src="../../../js/mui.min.js"></script>
		<script type="text/javascript">
			mui.init();
			
		</script>
	</body>

</html>