<?xml version="1.0" encoding="UTF-8"?>  
<!DOCTYPE mapper PUBLIC "-//ibatis.apache.org//DTD Mapper 3.0//EN" "http://ibatis.apache.org/dtd/ibatis-3-mapper.dtd">
<mapper namespace="com.sinoauto.dao.mapper.AuthorityMapper">

	<!-- 用于select查询公用抽取的列 -->
	<sql id="allColumns">
		authority_id, authority_name, pid, remark, create_time
	</sql>

	<!-- 新增 -->
	<insert id="insert" parameterType="HqlsAuthority"
		useGeneratedKeys="true" keyProperty="id">
		INSERT INTO hqls_authority (
		authority_name, pid, remark, create_time
		) VALUES (
		#{authorityName},
		#{pid}, #{remark}, #{createTime}
		)
	</insert>

	<!-- 修改 -->
	<update id="update" parameterType="HqlsAuthority">
		UPDATE hqls_authority SET
		authority_name = #{authorityName},
		pid = #{pid},
		remark = #{remark},
		create_time = #{createTime}
		WHERE
		authority_id = #{authorityId}
	</update>

	<select id="findFirstAuthorities" resultType="com.sinoauto.dao.bean.HqlsAuthority">
		SELECT
		*
		FROM
		hqls_authority WHERE authority_id
		IN (SELECT DISTINCT hay.pid FROM
		hqls_authority hay
		LEFT JOIN hqls_role_authority hra
		ON hay.authority_id
		= hra.authority_id
		WHERE hra.role_id IN
		(SELECT DISTINCT hur.role_id FROM
		hqls_user_role  hur
		LEFT JOIN hqls_role hr
		ON hur.role_id = hr.role_id
		WHERE user_id = #{userId} AND hr.role_type = #{isBack}))
		ORDER BY sorting
		
	</select>

	<select id="findSecondAuthorities" resultType="com.sinoauto.dao.bean.HqlsAuthority">
		SELECT DISTINCT hay.* FROM hqls_authority hay
		LEFT JOIN hqls_role_authority
		hra
		ON hay.authority_id = hra.authority_id
		WHERE hra.role_id IN
		(SELECT DISTINCT hur.role_id FROM
		hqls_user_role  hur
		LEFT JOIN hqls_role hr
		ON hur.role_id = hr.role_id
		WHERE user_id = #{userId} AND hr.role_type = #{isBack})
	</select>

</mapper>
