<?xml version="1.0" encoding="UTF-8"?>  
<!DOCTYPE mapper PUBLIC "-//ibatis.apache.org//DTD Mapper 3.0//EN" "http://ibatis.apache.org/dtd/ibatis-3-mapper.dtd">
<mapper namespace="com.sinoauto.dao.mapper.CashBackMapper">

	<!-- 用于select查询公用抽取的列 -->
	<sql id="allColumns">
        cash_back_id, money, discount, return_money, return_type, is_usable, create_time
	</sql>

	<!-- 新增 -->
	<insert id="insert" parameterType="HqlsCashBack" useGeneratedKeys="true" keyProperty="cashBackId">
	    INSERT INTO hqls_cash_back (
	        money, discount, return_money, return_type, is_usable, create_time
	    ) VALUES (
	        #{money}, #{discount}, #{returnMoney}, #{returnType}, #{isUsable}, #{createTime}        
	    )
	</insert>

	<!-- 修改 -->
	<update id="update" parameterType="HqlsCashBack">
	   UPDATE hqls_cash_back SET
		   money = #{money}, 
		   discount = #{discount}, 
		   return_money = #{returnMoney}, 
		   return_type = #{returnType}, 
		   is_usable = #{isUsable}, 
		   create_time = #{createTime}
	   WHERE 
		   cash_back_id = #{cashBackId}
	</update>
	
	<select id="findCashBackList" resultType="com.sinoauto.dto.CashBackDto">
		SELECT
			cb.*, cu.customer_name as operate_user_name,
			CASE
		WHEN cb.return_type = 1 THEN
			'返利率'
		WHEN cb.return_type = 2 THEN
			'返还金额'
		ELSE
			'不存在的类型'
		END AS return_type_desc,
		 CASE
		WHEN cb.return_type = 1 THEN
			concat( '满', cb.money, '返', concat(cb.discount * 100, '%'))
		WHEN return_type = 2 THEN
			concat( '满', cb.money, '返', concat(cb.money, '%'))
		ELSE
			'不存在的类型'
		END AS content
		FROM
			hqls_cash_back cb,
			hqls_customer cu
		WHERE
			cb.operate_user_id = cu.customer_id
		<if test="returnType != null">
			AND cb.return_type = #{returnType}
		</if>
		<if test="operateUserName != null and operateUserName != ''">
			AND cu.customer_name LIKE CONCAT('%', #{operateUserName}, '%')
		</if>
		<if test="createTime != null and createTime != ''">
			AND datediff(cb.create_time,#{createTime})=0
		</if>
	</select>
	
</mapper>
