<?xml version="1.0" encoding="UTF-8"?>  
<!DOCTYPE mapper PUBLIC "-//ibatis.apache.org//DTD Mapper 3.0//EN" "http://ibatis.apache.org/dtd/ibatis-3-mapper.dtd">
<mapper namespace="com.sinoauto.dao.mapper.CcouponCardMapper">

	<!-- 用于select查询公用抽取的列 -->
	<sql id="allColumns">
        coupon_card_id, coupon_card_name, coupon_card_desc, logo_url, is_enable, is_need_car, create_user_id, value, create_time
	</sql>

	<!-- 新增 -->
	<insert id="insert" parameterType="CcouponCard" useGeneratedKeys="true" keyProperty="id">
	    INSERT INTO c_coupon_card (
	        coupon_card_name, coupon_card_desc, logo_url, is_enable, is_need_car, create_user_id, value, create_time
	    ) VALUES (
	        #{couponCardName}, #{couponCardDesc}, #{logoUrl}, #{isEnable}, #{isNeedCar}, #{createUserId}, #{value}, #{createTime}        
	    )
	</insert>

	<!-- 修改 -->
	<update id="update" parameterType="CcouponCard">
	   UPDATE c_coupon_card SET
		   coupon_card_name = #{couponCardName}, 
		   coupon_card_desc = #{couponCardDesc}, 
		   logo_url = #{logoUrl}, 
		   is_enable = #{isEnable}, 
		   is_need_car = #{isNeedCar}, 
		   create_user_id = #{createUserId}, 
		   value = #{value}, 
		   create_time = #{createTime}
	   WHERE 
		   coupon_card_id = #{couponCardId}
	</update>
	
</mapper>
