<?xml version="1.0" encoding="UTF-8"?>  
<!DOCTYPE mapper PUBLIC "-//ibatis.apache.org//DTD Mapper 3.0//EN" "http://ibatis.apache.org/dtd/ibatis-3-mapper.dtd">
<mapper namespace="com.sinoauto.dao.mapper.CCustomerMessageMapper">

	<!-- 用于select查询公用抽取的列 -->
	<sql id="allColumns">
        customer_message_id, customer_id, message_type, message_content, is_delete, is_read, push_time, create_time
	</sql>

	<!-- 新增 -->
	<insert id="insert" parameterType="CcustomerMessage" useGeneratedKeys="true" keyProperty="id">
	    INSERT INTO c_customer_message (
	        customer_id, message_type, message_content, is_delete, is_read, push_time, create_time
	    ) VALUES (
	        #{customerId}, #{messageType}, #{messageContent}, #{isDelete}, #{isRead}, #{pushTime}, #{createTime}        
	    )
	</insert>

	<!-- 修改 -->
	<update id="update" parameterType="CcustomerMessage">
	   UPDATE c_customer_message SET
		   customer_id = #{customerId}, 
		   message_type = #{messageType}, 
		   message_content = #{messageContent}, 
		   is_delete = #{isDelete}, 
		   is_read = #{isRead}, 
		   push_time = #{pushTime}, 
		   create_time = #{createTime}
	   WHERE 
		   customer_message_id = #{customerMessageId}
	</update>
	
</mapper>
