<?xml version="1.0" encoding="UTF-8"?>  
<!DOCTYPE mapper PUBLIC "-//ibatis.apache.org//DTD Mapper 3.0//EN" "http://ibatis.apache.org/dtd/ibatis-3-mapper.dtd">
<mapper namespace="com.sinoauto.dao.mapper.FinanceFlowMapper">

	<!-- 用于select查询公用抽取的列 -->
	<sql id="allColumns">
        finance_flow_id, store_id, transaction_no, change_type, change_money, charge_type, pay_type, check_status, order_no, oper_person, create_time, remark, dml_time, account_name, account, bank, open_bank, is_delete
	</sql>

	<!-- 新增 -->
	<insert id="insert" parameterType="HqlsFinanceFlow" useGeneratedKeys="true" keyProperty="financeFlowId">
	    INSERT INTO hqls_finance_flow (
	        store_id, transaction_no, change_type, change_money, charge_type, pay_type, flow_status, check_status, order_no, oper_person, create_time, remark, dml_time, account_name, account, bank, open_bank, is_delete
	    ) VALUES (
	        #{storeId}, #{transactionNo}, #{changeType}, #{changeMoney}, #{chargeType}, #{payType}, #{flowStatus}, #{checkStatus}, #{orderNo}, #{operPerson}, now(), #{remark}, now(), #{accountName}, #{account}, #{bank}, #{openBank}, #{isDelete}        
	    )
	</insert>

	<!-- 修改 -->
	<update id="update" parameterType="HqlsFinanceFlow">
	   UPDATE hqls_finance_flow SET
		   store_id = #{storeId}, 
		   transaction_no = #{transactionNo}, 
		   change_type = #{changeType}, 
		   change_money = #{changeMoney}, 
		   charge_type = #{chargeType}, 
		   pay_type = #{payType}, 
		   check_status = #{checkStatus}, 
		   order_no = #{orderNo}, 
		   oper_person = #{operPerson}, 
		   create_time = #{createTime}, 
		   remark = #{remark}, 
		   dml_time = #{dmlTime}, 
		   account_name = #{accountName}, 
		   account = #{account}, 
		   bank = #{bank}, 
		   open_bank = #{openBank}, 
		   is_delete = #{isDelete}
	   WHERE 
		   finance_flow_id = #{financeFlowId}
	</update>
	
	<select id="findFlowListByContidion" resultType="com.sinoauto.dto.RechargeDto">
		SELECT
			f.*, u.store_name,u.user_name as customer_name,u.mobile,
			CASE
		WHEN f.check_status = 1 THEN
			'待审核'
		WHEN f.check_status = 2 THEN
			'审核通过'
		WHEN f.check_status = 2 THEN
			'审核不通过'
		ELSE
			'标志数字不存在'
		END AS check_status_desc,
			CASE
		WHEN f.flow_status = 1 THEN
			'成功'
		WHEN f.flow_status = 2 THEN
			'失败'
		ELSE
			'标志数字不存在'
		END AS flow_status_desc
		FROM
			hqls_finance_flow f,
			(
				SELECT
					c.user_name,
					c.mobile,
					s.store_id,
					s.store_name
				FROM
					hqls_user c,
					hqls_store s,
					hqls_user_store cs
				WHERE
					c.user_id = cs.user_id
				AND s.store_id = cs.store_id
			) u
		WHERE
			f.store_id = u.store_id 
		<if test="storeId != null">
			AND f.store_id = #{storeId}
		</if>
		<if test="changeType != null">
			AND f.change_type = #{changeType}
		</if>
		<if test="flowStatus != null">
			AND f.flow_status = #{flowStatus}
		</if>
		<if test="customerName != null and customerName != ''">
			AND u.user_name LIKE CONCAT('%', #{customerName}, '%')
		</if>
		<if test="mobile != null and mobile != ''">
			AND u.mobile LIKE CONCAT('%', #{mobile}, '%')
		</if>
		<if test="createTime != null and createTime != ''">
			AND datediff(f.create_time,#{createTime})=0
		</if>
	</select>
	
	<select id="findFlowList" parameterType="int" resultType="com.sinoauto.dao.bean.HqlsFinanceFlow">
		SELECT 
			finance_flow_id,transaction_no,change_type,change_money,charge_type,pay_type,check_status,order_no,create_time,flow_status  
		FROM
			hqls_finance_flow
	    WHERE
			is_delete = 0 and store_id = #{storeId}
		ORDER BY 
		    create_time desc
	</select>
	
	<select id="findStoreFinance" parameterType="int" resultType="com.sinoauto.dao.bean.HqlsFinanceFlow">
		SELECT 
			finance_flow_id,transaction_no,change_type,change_money,charge_type,pay_type,check_status,order_no,create_time 
		FROM
			hqls_finance_flow
	    WHERE
			finance_flow_id = #{financeFlowId}
	</select>
	
	<select id="findFlow" parameterType="int" resultType="com.sinoauto.dao.bean.HqlsFinanceFlow">
		SELECT 
			finance_flow_id,transaction_no,change_type,change_money,charge_type,pay_type,check_status,order_no,create_time,flow_status 
		FROM
			hqls_finance_flow
	    WHERE
			finance_flow_id = #{financeFlowId}
	</select>
	
</mapper>
