<?xml version="1.0" encoding="UTF-8"?>  
<!DOCTYPE mapper PUBLIC "-//ibatis.apache.org//DTD Mapper 3.0//EN" "http://ibatis.apache.org/dtd/ibatis-3-mapper.dtd">
<mapper namespace="com.sinoauto.dao.mapper.LogisticsLogMapper">

	<!-- 用于select查询公用抽取的列 -->
	<sql id="allColumns">
        log_id, remark, purchase_order_id
	</sql>

	<!-- 新增 -->
	<insert id="insert" parameterType="HqlsLogisticsLog" useGeneratedKeys="true" keyProperty="id">
	    INSERT INTO hqls_logistics_log (
	        remark, purchase_order_id
	    ) VALUES (
	        #{remark}, #{purchaseOrderId}        
	    )
	</insert>

	<!-- 修改 -->
	<update id="update" parameterType="HqlsLogisticsLog">
	   UPDATE hqls_logistics_log SET
		   remark = #{remark}, 
		   purchase_order_id = #{purchaseOrderId}
	   WHERE 
		   log_id = #{logId}
	</update>
	
</mapper>
