<?xml version="1.0" encoding="UTF-8"?>  
<!DOCTYPE mapper PUBLIC "-//ibatis.apache.org//DTD Mapper 3.0//EN" "http://ibatis.apache.org/dtd/ibatis-3-mapper.dtd">
<mapper namespace="com.sinoauto.dao.mapper.PartsMapper">

	<resultMap type="com.sinoauto.dto.PartsDetailDto" id="detail">
		<id column="parts_id" property="partsId" />
		<result column="parts_brand_name" property="partsBrandName" />
		<collection property="partsAttrExtrs" column="parts_id" select="com.sinoauto.dao.mapper.PartsMapper.findPartsAttrExtrsByPartsId" />
		<collection property="partsPicList" column="parts_id" select="com.sinoauto.dao.mapper.PartsPicMapper.findPartsPicsByPartsId" />
	</resultMap>
	
	<select id="getPartsDetail" resultMap="detail" parameterType="Integer">
		select parts.parts_id,parts.parts_brand_id, parts.parts_name,parts.parts_code, parts.parts_model, parts.parts_unit, parts.parts_spec,
				parts.parts_factory, parts.origin, parts.shelf_life, parts.price, parts.discount, parts.cur_price,
				brand.parts_brand_name
		from hqls_parts as parts, hqls_parts_brand as brand
		where parts.parts_brand_id = brand.parts_brand_id
		and parts.parts_id = #{partsId} and parts.is_usable = 1
	</select>
	
	<resultMap type="com.sinoauto.dto.PartsDesListDto" id="desList">
		<id column="parts_id" property="partsId"/>
		<result column="buy_count" property="purchaseNum" />
		<result column="buy_price" property="buyPrice"/>
		<association column="parts_id" property="partsPic" select="com.sinoauto.dao.mapper.PartsPicMapper.getFirstUrlByPartsId"/>
	</resultMap>
	
	<select id="findPartsListByTypeId" parameterType="Integer" resultMap="desList">
		select parts.parts_id, parts.parts_name, parts.parts_model, parts.parts_unit, 
				parts.parts_spec, parts.cur_price
		from hqls_parts as parts
		where parts.parts_type_id = #{partTypeId} and parts.is_usable = 1
	</select>
	
	<select id="checkShopCart" resultMap="desList" parameterType="Integer">
		select parts.parts_id, parts.parts_name, parts.parts_model, parts.parts_unit, 
				parts.parts_spec, parts.cur_price, parts.is_usable
		from hqls_parts as parts 
		where parts.parts_id = #{partsId}
	</select>
	
	<select id="findPartsListByOrderId" parameterType="Integer" resultMap="desList">
		select detail.buy_count, detail.buy_price,
				parts.parts_id, parts.parts_name, parts.parts_model, parts.parts_unit, 
				parts.parts_spec, parts.cur_price, parts.is_usable
		from hqls_order_detail as detail
		left join hqls_parts as parts on detail.parts_id = parts.parts_id
		where detail.purchase_order_id = #{orderId}
	</select>

	<!-- 用于select查询公用抽取的列 -->
	<sql id="allColumns">
        parts_id, parts_code, parts_name, parts_model, parts_unit, parts_spec, parts_brand_id, parts_factory, origin, shelf_life, price, discount, cur_price, remark, is_usable, parts_type_id, create_time, dml_time
	</sql>
	
	<!-- 新增 -->
	<insert id="insert" parameterType="HqlsParts" useGeneratedKeys="true" keyProperty="partsId">
	    INSERT INTO hqls_parts (
	        parts_code, parts_name, parts_model, parts_unit, parts_spec, parts_brand_id, parts_factory, origin, shelf_life, price, discount, cur_price, remark, is_usable, parts_type_id, create_time, dml_time
	    ) VALUES (
	        #{partsCode}, #{partsName}, #{partsModel}, #{partsUnit}, #{partsSpec}, #{partsBrandId}, #{partsFactory}, #{origin}, #{shelfLife}, #{price}, #{discount}, #{curPrice}, #{remark}, #{isUsable}, #{partsTypeId}, #{createTime}, #{dmlTime}        
	    )
	</insert>

	<!-- 修改 -->
	<update id="update" parameterType="HqlsParts">
	   UPDATE hqls_parts SET
		   <if test="partsCode!=null"> parts_code = #{partsCode},</if> 
		   <if test="partsName!=null"> parts_name = #{partsName}, </if>
		   <if test="partsModel!=null"> parts_model = #{partsModel}, </if>
		   <if test="partsUnit!=null"> parts_unit = #{partsUnit}, </if>
		   <if test="partsSpec!=null"> parts_spec = #{partsSpec}, </if>
		   <if test="partsBrandId!=null"> parts_brand_id = #{partsBrandId},</if> 
		   <if test="partsFactory!=null"> parts_factory = #{partsFactory}, </if>
		   <if test="origin!=null"> origin = #{origin}, </if>
		   <if test="shelfLife!=null"> shelf_life = #{shelfLife},</if> 
		   <if test="price!=null"> price = #{price}, </if>
		   <if test="discount!=null"> discount = #{discount},</if> 
		   <if test="curPrice!=null"> cur_price = #{curPrice}, </if>
		   <if test="remark!=null"> remark = #{remark}, </if>
		   <if test="isUsable!=null"> is_usable = #{isUsable}, </if>
		   <if test="partsTypeId!=null"> parts_type_id = #{partsTypeId},</if> 
		   dml_time = now()
	   WHERE 
		   parts_id = #{partsId}
	</update>
	
	<!-- 中台查询配件信息接口，详细信息查询接口，或者是编辑-->
	<select id="findPartsByCondition" resultType="com.sinoauto.dto.PartsDto">
		select
			pa.parts_id,pa.parts_name,pa.parts_code,
			pa.parts_model,pa.parts_unit,pa.parts_spec,
			pa.parts_factory,pa.origin,pa.shelf_life,
			pa.price,pa.discount,pa.cur_price,
			hpt.type_name as p_name,hpt.pid,hpt.parts_type as parts_top_type_id,
			case 
				when hpt.parts_type=1 then '易损件' 
				when hpt.parts_type=2 then '车型件' 
				else '标志数字不存在' end as parts_top_type
		from hqls_parts pa
		inner join hqls_parts_type hpt on hpt.parts_type_id=pa.parts_type_id
		where 1=1
			<if test="partsCode!=null"> and pa.parts_code like CONCAT('%',#{partsCode},'%')</if>
		 	<if test="partsName!=null"> and pa.parts_name like CONCAT('%',#{partsName},'%')</if>
		 	<if test="partsTopTypeId!=null"> and hpt.parts_type=#{partsTopTypeId}</if>
		 	<if test="partsTypeId!=null"> and hpt.pid=#{partsTypeId}</if>
		    <if test="partsId!=null"> and pa.parts_id=#{partsId}</if>
	</select>
	
</mapper>
