<?xml version="1.0" encoding="UTF-8"?>  
<!DOCTYPE mapper PUBLIC "-//ibatis.apache.org//DTD Mapper 3.0//EN" "http://ibatis.apache.org/dtd/ibatis-3-mapper.dtd">
<mapper namespace="com.sinoauto.dao.mapper.PartsBrandMapper">

	<!-- 用于select查询公用抽取的列 -->
	<sql id="allColumns">
        parts_brand_id, parts_brand_name, remark, create_time
	</sql>

	<!-- 新增 -->
	<insert id="insert" parameterType="HqlsPartsBrand" useGeneratedKeys="true" keyProperty="id">
	    INSERT INTO hqls_parts_brand (
	        parts_brand_name, remark, create_time
	    ) VALUES (
	        #{partsBrandName}, #{remark}, #{createTime}        
	    )
	</insert>

	<!-- 修改 -->
	<update id="update" parameterType="HqlsPartsBrand">
	   UPDATE hqls_parts_brand SET
		   parts_brand_name = #{partsBrandName}, 
		   remark = #{remark}, 
		   create_time = #{createTime}
	   WHERE 
		   parts_brand_id = #{partsBrandId}
	</update>
	
	<!-- 查询所有品牌信息 -->
	<!-- <select id="findPartsBrands" resultType="com.sinoauto.dao.bean.HqlsPartsBrand">
		
	</select> -->
	
</mapper>
