<?xml version="1.0" encoding="UTF-8"?>  
<!DOCTYPE mapper PUBLIC "-//ibatis.apache.org//DTD Mapper 3.0//EN" "http://ibatis.apache.org/dtd/ibatis-3-mapper.dtd">
<mapper namespace="com.sinoauto.dao.mapper.ServiceTypeMapper">

	<!-- 用于select查询公用抽取的列 -->
	<sql id="allColumns">
        service_type_id, service_type_name, service_amount, url, is_usable
	</sql>

	<!-- 新增 -->
	<insert id="insert" parameterType="HqlsServiceType" useGeneratedKeys="true" keyProperty="id">
	    INSERT INTO hqls_service_type (
	        service_type_name, service_amount, url, is_usable
	    ) VALUES (
	        #{serviceTypeName}, #{serviceAmount}, #{url}, #{isUsable}        
	    )
	</insert>

	<!-- 修改 -->
	<update id="update" parameterType="HqlsServiceType">
	   UPDATE hqls_service_type SET
		   service_type_name = #{serviceTypeName}, 
		   service_amount = #{serviceAmount}, 
		   url = #{url}, 
		   is_usable = #{isUsable}
	   WHERE 
		   service_type_id = #{serviceTypeId}
	</update>
	
</mapper>
