<?xml version="1.0" encoding="UTF-8"?>  
<!DOCTYPE mapper PUBLIC "-//ibatis.apache.org//DTD Mapper 3.0//EN" "http://ibatis.apache.org/dtd/ibatis-3-mapper.dtd">
<mapper namespace="com.sinoauto.dao.mapper.ShipAddressMapper">

	<!-- 用于select查询公用抽取的列 -->
	<sql id="allColumns">
        ship_address_id, store_id, recipient, mobile, province_id, city_id, county_id, province_name, city_name, county_name, address, is_default, create_time
	</sql>

	<!-- 新增 -->
	<insert id="insert" parameterType="HqlsShipAddress" useGeneratedKeys="true" keyProperty="shipAddressId">
	    INSERT INTO hqls_ship_address (
	        store_id, recipient, mobile, province_id, city_id, county_id, province_name, city_name, county_name, address, is_default, create_time
	    ) VALUES (
	        #{storeId}, #{recipient}, #{mobile}, #{provinceId}, #{cityId}, #{countyId}, #{provinceName}, #{cityName}, #{countyName}, #{address}, 0, now()       
	    )
	</insert>

	<!-- 修改 -->
	<update id="update" parameterType="HqlsShipAddress">
	   UPDATE hqls_ship_address SET
		   store_id = #{storeId}, 
		   recipient = #{recipient}, 
		   mobile = #{mobile}, 
		   province_id = #{provinceId}, 
		   city_id = #{cityId}, 
		   county_id = #{countyId}, 
		   province_name = #{provinceName}, 
		   city_name = #{cityName}, 
		   county_name = #{countyName},
		   address = #{address}
	   WHERE 
		   ship_address_id = #{shipAddressId}
	</update>
	
	<delete id="delete" parameterType="Integer">
		delete from hqls_ship_address where ship_address_id = #{addressId}
	</delete>
	
	<delete id="batchDelete">
		delete from hqls_ship_address where ship_address_id in
		<foreach collection="addressIds" item="item" index="index" open="(" close=")" separator=",">
            #{item}
        </foreach>
	</delete>
	
	<select id="findAll" parameterType="Integer" resultType="HqlsShipAddress">
		select * from hqls_ship_address where 1=1 
		<if test="storeId != null">
			and store_id = #{storeId}
		</if>
	</select>
	
</mapper>
