<?xml version="1.0" encoding="UTF-8"?>  
<!DOCTYPE mapper PUBLIC "-//ibatis.apache.org//DTD Mapper 3.0//EN" "http://ibatis.apache.org/dtd/ibatis-3-mapper.dtd">
<mapper namespace="com.sinoauto.dao.mapper.StoreFinanceMapper">

	<!-- 用于select查询公用抽取的列 -->
	<sql id="allColumns">
        store_finance_id, store_id, balance, cash_able, cash_disable, remark, create_time, dml_time
	</sql>

	<!-- 新增 -->
	<insert id="insert" parameterType="HqlsStoreFinance" >
	    INSERT INTO hqls_store_finance (
	        store_id, balance, cash_able, cash_disable, remark, create_time, dml_time
	    ) VALUES (
	        #{storeId}, 0, 0, 0, #{remark}, now(), now()        
	    )
	</insert>

	<!-- 修改 -->
	<update id="update" parameterType="HqlsStoreFinance">
	   UPDATE hqls_store_finance SET
		   store_id = #{storeId}, 
		   balance = #{balance}, 
		   cash_able = #{cashAble}, 
		   cash_disable = #{cashDisable}, 
		   remark = #{remark}, 
		   create_time = #{createTime}, 
		   dml_time = #{dmlTime}
	   WHERE 
		   store_finance_id = #{storeFinanceId}
	</update>
	
	<update id="updateBalance" parameterType="HqlsStoreFinance">
		UPDATE hqls_store_finance SET
		   balance = #{balance}, 
		   cash_able = #{cashAble}, 
		   dml_time = now()
	   WHERE 
		   store_finance_id = #{storeFinanceId}
	</update>
	
	<select id="findStoreFinanceistByContidion" resultType="com.sinoauto.dto.StoreFinanceDto">
		SELECT
			sf.*, u.store_name,
			u.customer_name,
			u.mobile
		FROM
			hqls_store_finance sf,
			(
				SELECT
					c.customer_name,
					c.mobile,
					s.store_id,
					s.store_name
				FROM
					hqls_customer c,
					hqls_store s,
					hqls_customer_store cs
				WHERE
					c.customer_id = cs.customer_id
				AND s.store_id = cs.store_id
			) u
		WHERE
			sf.store_id = u.store_id
		<if test="storeId != null">
			AND sf.store_id = #{storeId}
		</if>
		<if test="customerName != null and customerName != ''">
			AND u.customer_name LIKE CONCAT('%', #{customerName}, '%')
		</if>
		<if test="mobile != null and mobile != ''">
			AND u.mobile LIKE CONCAT('%', #{mobile}, '%')
		</if>
	</select>
	
	
</mapper>
