<?xml version="1.0" encoding="UTF-8"?>  
<!DOCTYPE mapper PUBLIC "-//ibatis.apache.org//DTD Mapper 3.0//EN" "http://ibatis.apache.org/dtd/ibatis-3-mapper.dtd">
<mapper namespace="com.sinoauto.dao.mapper.StoreMapper">

	<!-- 用于select查询公用抽取的列 -->
	<sql id="allColumns">
        store_id, pid, store_name, mobile, longitude, latitude, store_code, province_id, city_id, county_id, address, back_url, is_useable, create_time, dml_time
	</sql>

	<!-- 新增 -->
	<insert id="insert" parameterType="HqlsStore" useGeneratedKeys="true" keyProperty="id">
	    INSERT INTO hqls_store (
	        pid, store_name, mobile, longitude, latitude, store_code, province_id, city_id, county_id, address, back_url, is_useable, create_time, dml_time
	    ) VALUES (
	        #{pid}, #{storeName}, #{mobile}, #{longitude}, #{latitude}, #{storeCode}, #{provinceId}, #{cityId}, #{countyId}, #{address}, #{backUrl}, #{isUseable}, #{createTime}, #{dmlTime}        
	    )
	</insert>

	<!-- 修改 -->
	<update id="update" parameterType="HqlsStore">
	   UPDATE hqls_store SET
		   pid = #{pid}, 
		   store_name = #{storeName}, 
		   mobile = #{mobile}, 
		   longitude = #{longitude}, 
		   latitude = #{latitude}, 
		   store_code = #{storeCode}, 
		   province_id = #{provinceId}, 
		   city_id = #{cityId}, 
		   county_id = #{countyId}, 
		   address = #{address}, 
		   back_url = #{backUrl}, 
		   is_useable = #{isUseable}, 
		   create_time = #{createTime}, 
		   dml_time = #{dmlTime}
	   WHERE 
		   store_id = #{storeId}
	</update>
	
	
	<resultMap type="com.sinoauto.dto.StoreDto" id="storeDto">
		<id column="user_id" property="userId"/>
		<association property="mobile" column="user_id" select="getMobile"/>
		<collection property="hqlsStore" column="user_id" select="findStoreByUserId"/>
		<collection property="storeName" column="user_id" select="findStoreName"/>
	</resultMap>
	
	<select id="findStoreInfo" resultMap="storeDto">
		select #{userId} as userId 
	</select>
	
	<select id="getMobile" resultType="String" parameterType="int">
		SELECT
		mobile
		FROM
		hqls_user 
		where 
		user_id=#{userId}
	</select>
	
	<select id="findStoreByUserId" parameterType="int" resultType="com.sinoauto.dao.bean.HqlsStore">
		SELECT
		sto.address,
		sto.back_url,
		sto.mobile as storeName,
		sto.province_id as provinceId,
		sto.city_id as cityId,
		sto.county_id as countyId,
		sto.store_id as storeId
		FROM
		hqls_store sto
		LEFT JOIN 
		hqls_user_store usto
		ON
		sto.store_id=usto.store_id
		WHERE
		usto.user_id=#{userId}
		order by sto.create_time
	</select>
	
	<select id="findStoreName" parameterType="int" resultType="String">
		SELECT
		sto.mobile as storeName
		FROM
		hqls_store sto
		LEFT JOIN 
		hqls_user_store usto
		ON
		sto.store_id=usto.store_id
		WHERE
		usto.user_id=#{userId}
	</select>
	
	<select id="getStore" resultType="com.sinoauto.dto.StoreInfoDto">
		select 
		hqus.user_name as userName,
		hqus.mobile ,
		sto.address,
		sto.back_url,
		sto.is_useable as isUseable,
		sto.store_name as storeName,
		sto.store_id as storeId
		FROM
		hqls_store sto
		LEFT JOIN
		hqls_user_store usto
		ON
		sto.store_id=usto.store_id
		LEFT JOIN 
		hqls_user hqus
		on
		hqus.user_id = usto.user_id
		WHERE 1=1 
		<if test="storeName !=null"> and sto.store_name=#{storeName}</if>
		<if test="userName != null"> and hqus.user_name=#{userName}</if>
		<if test="mobile != null"> and hqus.mobile=#{mobile}</if>
		<if test="address != null"> and sto.address=#{address}</if>
	</select>
	
	
</mapper>
