<!doctype html>
<html>

	<head>
		<meta charset="UTF-8">
		<title></title>
		<meta name="viewport" content="width=device-width,initial-scale=1,minimum-scale=1,maximum-scale=1,user-scalable=no" />
		<link href="../../css/mui.min.css" rel="stylesheet" />
		<link rel="stylesheet" href="../../css/icons-extra.css" />
		<link rel="stylesheet" href="home.css" />
		<link rel="stylesheet" type="text/css" href="../../fonts/iconfont.css" />

	</head>

	<body>
		<header class="mui-bar mui-bar-nav">
			<h1 class="mui-title">维修连锁</h1>
		</header>
		<div class="mui-content">
			
			<div id="bgImg">
				<img src="http://pic58.nipic.com/file/20150112/12299514_224005339000_2.jpg" alt="" />
				<div class="mask"></div>
			</div>
			<!--<div class="mui-slider">
				<div class="mui-slider-group mui-slider-loop">

					<div class="mui-slider-item mui-slider-item-duplicate">
						<a href="#"><img src="http://placehold.it/300X133" /></a>
					</div>
					<div class="mui-slider-item">
						<a href="#"><img src="http://placehold.it/300X133" /></a>
					</div>
					<div class="mui-slider-item">
						<a href="#"><img src="http://placehold.it/300X133" /></a>
					</div>
					<div class="mui-slider-item">
						<a href="#"><img src="http://placehold.it/300X133" /></a>
					</div>
					<div class="mui-slider-item">
						<a href="#"><img src="http://placehold.it/300X133" /></a>
					</div>

					<div class="mui-slider-item mui-slider-item-duplicate">
						<a href="#"><img src="http://placehold.it/300X133" /></a>
					</div>
				</div>
				<div class="mui-slider-indicator">
					<div class="mui-indicator mui-active"></div>
					<div class="mui-indicator"></div>
					<div class="mui-indicator"></div>
					<div class="mui-indicator"></div>
				</div>
			</div>-->
			<ul class="mui-table-view mui-grid-view mui-grid-9">
				<li class="mui-table-view-cell mui-media mui-col-xs-4 mui-col-sm-3">
					<a href="javascript:;" id="store">
						<span class="mui-icon iconfont icon-mendianguanli"></span>
						<div class="mui-media-body">门店</div>
					</a>
				</li>
				<li class="mui-table-view-cell mui-media mui-col-xs-4 mui-col-sm-3">
					<a href="javascript:;" id="purchase">
						<span class="mui-icon iconfont  icon-caigou"></span>
						<div class="mui-media-body">采购</div>
					</a>
				</li>
				<li class="mui-table-view-cell mui-media mui-col-xs-4 mui-col-sm-3">
					<a href="javascript:;" id="purchase_order">
						<span class="mui-icon iconfont icon-dingdan "></span>
						<div class="mui-media-body">采购订单</div>
					</a>
				</li>
				<li class="mui-table-view-cell mui-media mui-col-xs-4 mui-col-sm-3">
					<a href="javascript:;" id="finance">
						<span class="mui-icon iconfont icon-caiwu3"></span>
						<div class="mui-media-body">财务</div>
					</a>
				</li>
				<li class="mui-table-view-cell mui-media mui-col-xs-4 mui-col-sm-3">
					<a href="javascript:;" id="serviceOrder">
						<span class="mui-icon iconfont icon-fuwu"></span>
						<div class="mui-media-body">服务订单</div>
					</a>
				</li>
				<li class="mui-table-view-cell mui-media mui-col-xs-4 mui-col-sm-3">
					<a href="#">
						<span class="mui-icon mui-icon-more"></span>
						<div class="mui-media-body">更多</div>
					</a>
				</li>
			</ul>
		</div>
		<script src="../../js/mui.min.js"></script>
		<script src="../../js/app.js"></script>
		<script src="home.js"></script>
	</body>

</html>