.rule {
	width: 75%;
	margin: 20px auto;
}
.rule a {
	margin-left: 25px;
}
.mui-input-row {
	line-height: 40px;
	padding-right: 30px;
}
.mui-input-row .input-cont {
	float: left;
	width: 50%;
	text-align: right;
}
.mui-input-row span {
	float: right;
}
.title-pay {
	margin: 30px 0 10px 10px;
}
.input-pay {
	padding: 0 20px;
	line-height: 42px;
}
.pay-type {
	position: relative;
	height: 40px;
	float: right;
	line-height: 40px;
}
.img-QQ {
	width: 28px;
	position: absolute;
	left: -45px;
	top: 5px;
}
.img-WEIXIN {
	position: absolute;
	left: -35px;
	top: 5px;
}
.btn-submit {
	width: 100%;
	margin-top: 50px;
	text-align: center;
}
.btn-submit button {
	padding: 15px 45px;
	margin-bottom: 15px;
	border-radius: 5px;
}

