.mui-content {
	margin-top: 5px;
	padding: 0px 5px;
}
.mui-content .mui-segmented-control{
	border: 1px solid #000000;
}
.mui-segmented-control .mui-control-item{
	border-left: 1px solid #000;
	color: #000;
}

.mui-segmented-control .mui-control-item.mui-active {
    background: #CCCCCC;
    color: #000;
}
.mui-content-padded {
	margin: 0px;
	margin-top: 5px;
}

.mui-control-content {
	border: 1px solid #000000;
	border-radius: 4px;
}

.mui-control-content h4 {
	font-size: 14px;
	padding: 10px;
	font-weight: normal;
	border-bottom: 1px solid #000000;
}

.mui-control-content h4 span {
	color: rgb(239, 139, 90);
}

.mui-table-view .mui-table-view-cell {
	padding: 5px 8px;
	border-bottom: 1px solid #000000;
}

.mui-table-view .mui-media img {
	display: block;
	max-width: 130px;
	height: 90px;
	margin-right: 10px;
}
.mui-table-view .mui-media .mui-media-body{
	width: 40%;
}
.mui-table-view .mui-media .mui-media-body span {
	font-size: 13px;
}

.mui-table-view .mui-media .mui-media-body .type {
	display: inline-block;
	margin-top: 25px;
}

.mui-table-view .mui-media .right-content {
	padding-right: 5px;
}

.number {
	display: block;
	margin-top: 22px;
    text-align: center;
}

.mui-content-padded .order-footer {
	background: #FFFFFF;
	padding:10px 5px;
	padding-bottom: 10px;
}
.mui-content-padded .order-footer p{
	color: #000000;
	font-size: 14px;
}
.mui-content-padded .order-footer .iphone{
	padding-bottom: 10px;
	border-bottom:1px solid #ccc ;
}
.mui-content-padded .order-footer a{
	border: 1px solid #000000;
	border-radius: 6px;
	padding: 5px 10px;
	color: #000000;
	margin-right: 10px;

}
.mui-table-view:before{
	height: 0px;
}
.mui-table-view:after{
	height: 0px;
}
.logistics .mui-table-view .mui-table-view-cell{
	border:none;
	position: relative;
	color: #000000;
}
.mui-table-view-cell:after{
	height: 0;
}
.logistics .mui-media-body p{
	color: #000000;
}
.logistics .mui-table-view .falg{
	color: red;
	font-size: 14px!important;
}
.logistics .l-number{
	width: 130px;
	position: absolute;
	bottom: 5px;
	left: 8px;
	height: 20px;
	background: rgba(0,0,0,.5);
	text-align: center;
	color: #FFFFFF;
}
.remak{
	padding: 10px 0px;
	font-size: 14px;
	color: #000000;
	border-bottom: 1px solid #ccc;
}
.mui-content{
	background: #fff;
}
.mui-content .wuinfo{
	background: #FFFFFF;
}
.wuinfo ul {
	padding: 0px;
	margin: 0px;
	margin-left: 20px;
	margin-bottom: 10px;
	padding-bottom: 10px;
	border-bottom: 1px solid #CCCCCC;
}
.wuinfo ul li{
	list-style: none;
	margin-top: 20px;
}
.wuinfo p{
	color: #000000;
}
.wuinfo .Prompt{
	text-align: center;
	margin: 0px;
	font-size: 12px;
}
#item4mobile{
	border-bottom: none;
}
