.mylayui-item{
	    padding: 10px 40px;
    text-align: center;
}
.okAccountCz{
	width: 100%;
}
#czSucces .layui-form-label{
	width: auto;
	font-size: 16px;
	margin-bottom: 0px;
}

.tableContainer{
	width: 100%;
	overflow: auto;
}