/* .layui-form-label{
	text-align: center;
}
.layui-table td, .layui-table th{
	text-align: center;
}
.mylayui-label{
	padding: 9px 0px;
	width: 40px;
}
.mylayui-typebox{
	margin-right: 100px;
	position: fixed;
}
.mylayui-rigthbox{
	display: inline-block;
	width: 550px;
	margin-left: 190px;
}
 */
 
 .mylayui-input-block{
	margin-left: 60px;
}
.mylayui-form-label{
	width: auto;
}
 .tableContainer {
    width: 100%;
    overflow: auto;
    margin-top: 10px;
}