.title-store {
	width: 100%;
	text-align: center;
	background: #FFFFFF;
	padding: 20px 0;
	margin-bottom: 20px;
}

.title-store h4 {
	margin-bottom: 20px;
}

.instant-recharge {
	width: 150px;
	height: 150px;
	border: 1px solid #555555;
	border-radius: 50%;
	margin: 0 auto;
	text-align: center;
	padding-top: 50px;
}

.instant-recharge p:not(:last-child) {
	margin: 0;
}

#recharge .recharge-text,
#cash .cash-text {
	font-size: 18px;
}