.mylayui-table,
.layui-table {
	width: auto;
	background-color: transparent;
	table-layout: fixed;
	width: 100%;
}

.layui-table {
	margin: 0px;
}

.layui-table th {
	background-color: #fff;
}

.mylayui-table td,
.mylayui-table th,
.layui-table td {
	border: none;
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
}

.All-order-list {
	border: 1px solid #e2e2e2;
	/*width: -webkit-fit-content;*/
	min-width: 780px;
	background-color: #f1f1f1;
	margin: 10px 0px;
}



.mylayui-item {
	padding: 0px 40px
}

.shipbox {
	text-align: center;
}

.shipbox button {
	width: 200px;
}

.jclogistics span ,.logisList span{
	font-size: 20px;
	padding: 2px 5px;
}
.logisList{
	position: relative;
}
.logisList-header {
	position: absolute;
	top: 0px;
	left: 0px;
}

.logisList-content {
	display: inline-block;
	margin-left: 200px;
}