<!doctype html>
<html>

	<head>
		<meta charset="UTF-8">
		<title></title>
		<meta name="viewport" content="width=device-width,initial-scale=1,minimum-scale=1,maximum-scale=1,user-scalable=no" />
		<link href="../../css/mui.min.css" rel="stylesheet" />
		<link rel="stylesheet" type="text/css" href="store.css" />
	</head>

	<body>
		<!-- 主界面不动、菜单移动 -->
		<!-- 侧滑导航根容器 -->
		<div class="mui-off-canvas-wrap mui-draggable mui-slide-in">
			<!-- 主页面容器 -->
			<div class="mui-inner-wrap">
				<!-- 主页面标题 -->
				<header class="mui-bar mui-bar-nav">
					<a href="" class="mui-action-back mui-icon mui-icon-left-nav mui-pull-left" style="color:#000;"></a>
					<h1 class="mui-title">门店管理</h1>
					<a id="change-store" class="mui-pull-right btn-sure" href="#">切换</a>
				</header>
				<div class="mui-content mui-scroll-wrapper">
					<div class="mui-scroll">
						<!-- 主界面具体展示内容 -->
						<div class="card-message">
							<p>华汽连锁·南京凤凰西街店</p>
							<p><span class="mui-icon mui-icon-phone"></span>025-83848888</p>
							<p><span class="mui-icon mui-icon-location"></span>江苏·南京·建邺区·凤凰西街20888号</p>
						</div>
						<ul class="mui-table-view">
							<li class="mui-table-view-cell" id="route-account">
								<a class="mui-navigate-right">
									<span class="mui-icon mui-icon-person"></span>
									<span class="mui-badge mui-badge-primary">管理员账号</span>
								</a>
							</li>
							
							<li class="mui-table-view-cell" id="shop-contact">
								<a class="mui-navigate-right">
									<span class="mui-icon mui-icon-phone"></span>
									<span class="mui-badge mui-badge-purple">店铺联系方式</span>
								</a>
							</li>
							<li class="mui-table-view-cell" id="img-background">
								<a class="mui-navigate-right">
									<span class="mui-icon mui-icon-image"></span>
									<span class="mui-badge mui-badge-danger">店铺背景</span>
								</a>
							</li>
						</ul>
					</div>
				</div>
				<div class="mui-off-canvas-backdrop"></div>
			</div>
		</div>
		<script src="../../js/mui.min.js"></script>
		<script type="text/javascript">
			mui.init({

			})
			document.getElementById('route-account').addEventListener('tap', function() {
				mui.openWindow({
					url: 'account/account.html',
					id: 'account'
				});
			});
			
			document.getElementById('shop-contact').addEventListener('tap', function() {
				mui.openWindow({
					url: 'contact/contact.html',
					id: 'contact'
				});
			});
			document.getElementById('change-store').addEventListener('tap', function() {
				mui.openWindow({
					url: 'change-store/change-store.html',
					id: 'change-store'
				});
			});
			
			//切换背景
			document.getElementById('img-background').addEventListener('tap', function() {
				if(mui.os.plus) {
					var a = [{
						title: "拍照"
					}, {
						title: "从手机相册选择"
					}];
					plus.nativeUI.actionSheet({
						//title: "修改用户头像",
						cancel: "取消",
						buttons: a
					}, function(b) { /*actionSheet 按钮点击事件*/
						switch(b.index) {
							case 0:
								break;
							case 1:
								getImage(); /*拍照*/
								break;
							case 2:
								galleryImg(); /*打开相册*/
								break;
							default:
								break;
						}
					})
				}
			}, false);
			//拍照 
			function getImage() {
				var c = plus.camera.getCamera();
				c.captureImage(function(e) {
					plus.io.resolveLocalFileSystemURL(e, function(entry) {
						var s = entry.toLocalURL() + "?version=" + new Date().getTime();
						console.log(s);
						uploadHead(s); /*上传图片*/
					}, function(e) {
						console.log("读取拍照文件错误：" + e.message);
					});
				}, function(s) {
					console.log("error" + s);
				}, {
					filename: "_doc/head.png"
				})
			}
			//本地相册选择 
			function galleryImg() {
				plus.gallery.pick(function(a) {
					plus.io.resolveLocalFileSystemURL(a, function(entry) {
						plus.io.resolveLocalFileSystemURL("_doc/", function(root) {
							root.getFile("head.png", {}, function(file) {
								//文件已存在 
								file.remove(function() {
									console.log("file remove success");
									entry.copyTo(root, 'head.png', function(e) {
											var e = e.fullPath + "?version=" + new Date().getTime();
											console.log(e);
											uploadHead(e); /*上传图片*/
											//变更大图预览的src 
											//目前仅有一张图片，暂时如此处理，后续需要通过标准组件实现 
										},
										function(e) {
											console.log('copy image fail:' + e.message);
										});
								}, function() {
									console.log("delete image fail:" + e.message);
								});
							}, function() {
								//文件不存在 
								entry.copyTo(root, 'head.png', function(e) {
										var path = e.fullPath + "?version=" + new Date().getTime();
										uploadHead(path); /*上传图片*/
									},
									function(e) {
										console.log('copy image fail:' + e.message);
									});
							});
						}, function(e) {
							console.log("get _www folder fail");
						})
					}, function(e) {
						console.log("读取拍照文件错误：" + e.message);
					});
				}, function(a) {}, {
					filter: "image"
				})
			};
			//上传头像图片 
//			function uploadHead(imgPath) {
//				console.log("imgPath = " + imgPath);
//				mainImage.src = imgPath;
//				mainImage.style.width = "60px";
//				mainImage.style.height = "60px";
//
//				var image = new Image();
//				image.src = imgPath;
//				image.onload = function() {
//					var imgData = getBase64Image(image);
//					/*在这里调用上传接口*/
//					//              mui.ajax("图片上传接口", { 
//					//                  data: { 
//					//                       
//					//                  }, 
//					//                  dataType: 'json', 
//					//                  type: 'post', 
//					//                  timeout: 10000, 
//					//                  success: function(data) { 
//					//                      console.log('上传成功'); 
//					//                  }, 
//					//                  error: function(xhr, type, errorThrown) { 
//					//                      mui.toast('网络异常，请稍后再试！'); 
//					//                  } 
//					//              }); 
//				}
//			}
			//将图片压缩转成base64 
//			function getBase64Image(img) {
//				var canvas = document.createElement("canvas");
//				var width = img.width;
//				var height = img.height;
//				// calculate the width and height, constraining the proportions 
//				if(width > height) {
//					if(width > 100) {
//						height = Math.round(height *= 100 / width);
//						width = 100;
//					}
//				} else {
//					if(height > 100) {
//						width = Math.round(width *= 100 / height);
//						height = 100;
//					}
//				}
//				canvas.width = width; /*设置新的图片的宽度*/
//				canvas.height = height; /*设置新的图片的长度*/
//				var ctx = canvas.getContext("2d");
//				ctx.drawImage(img, 0, 0, width, height); /*绘图*/
//				var dataURL = canvas.toDataURL("image/png", 0.8);
//				return dataURL.replace("data:image/png;base64,", "");
//			}
		</script>
	</body>

</html>