.btn-sure{
	line-height: 48px;
	margin-right: 5px;
}
.card-message {
	width: 100%;
	min-height: 150px;
	background: #007AFF;
	opacity: 0.8;
	text-align: center;
	padding-top: 40px;
	padding-bottom: 10px;
}
.card-message p {
	color: #FFFFFF;
}
.card-message p:first-child {
	font-size: 18px;
	padding-bottom: 15px;
}
.card-message p:not(:first-child) {
	margin: 0;
	font-size: 13px;
}