<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8">
	    <meta name="viewport" content="width=device-width,initial-scale=1,minimum-scale=1,maximum-scale=1,user-scalable=no" />
	    <title></title>
	   
	    <link href="../../css/mui.min.css" rel="stylesheet"/>
	    <link rel="stylesheet" type="text/css" href="service_order.css"/>
	</head>
	<body id="info">
		<header class="mui-bar mui-bar-nav">
			<a href="" class="mui-action-back mui-icon mui-icon-left-nav mui-pull-left" style="color:#000;"></a>
			<h1 class="mui-title">服务订单</h1>
		</header>
		<main class="mui-content">
			<div id="segmentedControl" class="mui-segmented-control">
				<a class="mui-control-item mui-active" href="#item1mobile">
						待完成
				</a>
				<a class="mui-control-item" href="#item2mobile">
						已完成
				</a>
			</div>
			<!--待完成订单 start-->
			<div id="item1mobile" class="mui-control-content mui-active mui-clearfix">
				<section class="service_main mui-clearfix mui-content-padded">
					<div class="service_img  mui-pull-left">
						<span class="mui-icon mui-icon-contact"></span>
					</div>
					<div class="service_center mui-ellipsis mui-pull-left">
						<span class="service_name">张老大 15858565658</span><br />
						<p class="car_caredinfo"><span class="car_cared">苏A555666</span><span class="car_info">奥迪/A8/2017新款</span></p>
						<span class="car_wash">洗车服务</span><br />
						<span class="price">¥300.00</span>
					</div>
					<div class="service_right mui-pull-right">
						<span class="car_order mui-ellipsis-2">abc123456789</span>
						<p class="mui-text-center service_iphone"><a href="tel:15858565658" class="mui-icon mui-icon-phone" style="color: #0c9;"></a></p>
						<time class="time">07-22 15:30 到店</time>
						<input type="button" id="" class="complete" value="完成" />
					</div>
				</section>
				
				<section class="service_main mui-clearfix mui-content-padded">
					<div class="service_img  mui-pull-left">
						<span class="mui-icon mui-icon-contact"></span>
					</div>
					<div class="service_center mui-ellipsis mui-pull-left">
						<span class="service_name">张老大 15858565658</span><br />
						<p class="car_caredinfo"><span class="car_cared">苏A555666</span><span class="car_info">奥迪/A8/2017新款</span></p>
						<span class="car_wash">洗车服务</span><br />
						<span class="price">¥300.00</span>
					</div>
					<div class="service_right mui-pull-right">
						<span class="car_order mui-ellipsis-2">abc123456789</span>
						<p class="mui-text-center service_iphone"><a href="tel:15858565658" class="mui-icon mui-icon-phone" style="color: #0c9;"></a></p>
						<time class="time">07-22 15:30 到店</time>
						<input type="button" id="" class="complete" value="完成" />
					</div>
				</section>
				
				<section class="service_main mui-clearfix mui-content-padded">
					<div class="service_img  mui-pull-left">
						<span class="mui-icon mui-icon-contact"></span>
					</div>
					<div class="service_center mui-ellipsis mui-pull-left">
						<span class="service_name">张老大 15858565658</span><br />
						<p class="car_caredinfo"><span class="car_cared">苏A555666</span><span class="car_info">奥迪/A8/2017新款</span></p>
						<span class="car_wash">洗车服务</span><br />
						<span class="price">¥300.00</span>
					</div>
					<div class="service_right mui-pull-right">
						<span class="car_order mui-ellipsis-2">abc123456789</span>
						<p class="mui-text-center service_iphone"><a href="tel:15858565658" class="mui-icon mui-icon-phone" style="color: #0c9;"></a></p>
						<time class="time">07-22 15:30 到店</time>
						<input type="button" id="" class="complete" value="完成" />
					</div>
				</section>
				
				
			</div>
			<!--待完成订单 end-->
			
			<!--未完成订单 start-->
			<div id="item2mobile" class="mui-control-content mui-clearfix">
				<section class="service_main mui-content-padded mui-clearfix">
					<div class="service_img  mui-pull-left">
						<span class="mui-icon mui-icon-contact"></span>
					</div>
					<div class="service_center mui-ellipsis mui-pull-left">
						<span class="service_name">张老大 15858565658</span><br />
						<span class="car_cared">苏A555666</span><span class="car_info">奥迪/A8/2017新款</span><br />
						<span class="car_wash">洗车服务</span><br />
						
					</div>
					<div class="service_right mui-pull-right">
						<p class="car_order mui-ellipsis-2">abc123456789</p>
						<span class="complete_price">¥300.00</span>
						<time class="time">07-22 15:30 </time>
					</div>
				</section>
				
				<section class="service_main mui-content-padded mui-clearfix">
					<div class="service_img  mui-pull-left">
						<span class="mui-icon mui-icon-contact"></span>
					</div>
					<div class="service_center mui-ellipsis mui-pull-left">
						<span class="service_name">张老大 15858565658</span><br />
						<span class="car_cared">苏A555666</span><span class="car_info">奥迪/A8/2017新款</span><br />
						<span class="car_wash">洗车服务</span><br />
						
					</div>
					<div class="service_right mui-pull-right">
						<span class="car_order mui-ellipsis-2">abc123456789</span>
						<span class="complete_price">¥300.00</span>
						<time class="time">07-22 15:30 </time>
					</div>
				</section>
			</div>
		<!--未完成订单 end-->
			
		</main>
		<footer>
			
		</footer>
		 <script src="../../js/mui.min.js"></script>
		 <script type="text/javascript" charset="utf-8">
	      	mui.init();
	    </script>
	</body>
</html>
