.mui-content{
	margin-top: 10px;
	background: #fff;
	padding: 0px 5px;
}
.mui-segmented-control{
	border: 1px solid #000;
	margin-bottom: 10px;
	
}
.mui-segmented-control .mui-control-item{
	border-color:1px solid #000;
	border-left: 1px solid #000;
	color: #000;
}
.mui-segmented-control .mui-control-item.mui-active{
	background: #CCCCCC;
	color: #000;
}
.service_main{
	border-bottom: 1px solid #000;
	
	padding: 10px 0px;
}
.service_main .time{
	display: block;
	color:#8f8f94;
	font-size: 14px;
	margin-bottom: 10px;
}
.service_img{
	width: 10%;
	height: 100px;
}
.service_img .mui-icon{
	padding-top: 20px;
}
.service_center{
	width: 60%;
	margin-bottom: 5px;
	
}
.service_center span{
	margin-bottom: 8px;
}
.mui-control-content{
	
    border: 1px solid #000;
    margin-top: 5px;
    border-bottom: none;
    border-radius: 4px;
}
.mui-content-padded{
	margin: 0px 0px;
}
.service_center .service_name{
	display: inline-block;
	font-size: 15px;

	color: #8f8f94;
}
.service_center .car_caredinfo{
	margin-bottom: 8px;
}
.service_center .car_cared{
	color: #fff;
	padding: 3px 2px;
	font-size: 14px;
	margin-right: 5px;
	background: blue;

}
.service_center .car_info{
	font-size: 14px;
	color: #8f8f94;
}
.service_center .car_wash{
	display: inline-block;
	background-color: rgba(255,153,102,1);
	font-size: 14px;
	color: #fff;
	
}
.service_center .price{
	font-size: 20px;
	color: rgba(255,102,0,1);
	margin-top: 3px;
}
.service_right{
	width: 30%;
}
.service_right .car_order{
	font-size: 14px;
	color: #8f8f94;
}
.service_right .service_iphone{
	margin: 0px 0px;
}
.service_iphone .mui-icon-phone:before{
	font-size: 30px;
}
.service_right .complete{
	border: 1px solid #000;
	display: block;
	padding:5px 30px;
	margin: 0px auto;
	border-radius: 6px;
}
.service_right .complete_price{
	display: block;
	font-size: 20px;
	color: rgba(255,102,0,1);
	margin: 10px 0px;
}
#item2mobile .car_wash{
	padding: 2px 3px;
	margin-top: 10px;
}
.mui-icon-phone{
	color: #0c9;
}

