.resetPass-content {
	padding: 10px;
	margin-top: 20px;
}
.btn-sure {
	width: 100%;
	margin-top: 100px;
	text-align: center;
}
.btn-sure button {
	padding: 15px 45px;
	margin-bottom: 15px;
	border-radius: 5px;
}