<!doctype html>
<html>

	<head>
		<meta charset="UTF-8">
		<title></title>
		<meta name="viewport" content="width=device-width,initial-scale=1,minimum-scale=1,maximum-scale=1,user-scalable=no" />
		<link href="../../../css/mui.min.css" rel="stylesheet" />
		<link rel="stylesheet" href="purchase_detail.css" />
	</head>

	<body>
		<header class="mui-bar mui-bar-nav">
			<a class="mui-action-back mui-icon mui-icon-left-nav mui-pull-left"></a>
			<h1 class="mui-title">采购</h1>
		</header>
		<div class="mui-content">
			<div class="mui-scroll-wrapper mui-slider-indicator mui-segmented-control mui-segmented-control-inverted">
				<div class="mui-scroll">
					<div id="breadcrumb">
						<!--<a href="#">采购<span >></span></a>-->
					</div>
				</div>
			</div>
			<!--列表展示-->
			<ul class="mui-table-view">
				<li class="mui-table-view-cell">
					<a class="mui-navigate-right">全部油品</a>
				</li>
				<li class="mui-table-view-cell">
					<a class="mui-navigate-right">汽机油</a>
				</li>
				<li class="mui-table-view-cell">
					<a class="mui-navigate-right">柴油机</a>
				</li>
				<li class="mui-table-view-cell">
					<a class="mui-navigate-right">变速箱油</a>
				</li>
				<li class="mui-table-view-cell">
					<a class="mui-navigate-right">手动变速箱油</a>
				</li>
				<li class="mui-table-view-cell">
					<a class="mui-navigate-right">刹车油</a>
				</li>
				<li class="mui-table-view-cell">
					<a class="mui-navigate-right">助力转向油</a>
				</li>
				<li class="mui-table-view-cell">
					<a class="mui-navigate-right">齿轮油</a>
				</li>
				<li class="mui-table-view-cell">
					<a class="mui-navigate-right">液压油</a>
				</li>
				<li class="mui-table-view-cell">
					<a class="mui-navigate-right">季变速箱放油螺丝</a>
				</li>
			</ul>

		</div>
		<script src="../../../js/mui.min.js"></script>
		<script type="text/javascript" src="../../../js/jquery-2.1.0.js"></script>
		<script type="text/javascript">
			mui.init()
			mui.plusReady(function() {
				//从采购页接收参数
				//添加newId自定义事件监听
				window.addEventListener('newsId', function(event) {
					//获得事件参数
					var id = event.detail.id;
					var title = event.detail.title;
					//根据id向服务器请求新闻详情
					$("#breadcrumb").empty();
					$("#breadcrumb").append('<a  name=' + id + '>' + title + '<span >></span></a>');
				});
				//监听item点击事件
				mui('.mui-table-view').on('tap','.mui-table-view-cell > a',function(e){
					var title = e.target.innerText;
					var html = '<a  name=' +  + '>' + title + '<span >></span></a>';
					console.log(html);
					//添加title文字
					$("#breadcrumb").append('<a>' + title + '<span >></span></a>');
					//ajax请求
					//更换list
					opengoods();
				});
				
				
				//跳转至商品详情
					function opengoods(){
						//自定义事件，用来页面传值
//						mui.fire(detailPage, 'newsId', {
//							'id': id,
//							'title':title,
//							
//						});
						//打开详情页面          
						mui.openWindow({
							id: 'goods.html',
							url:'../goods/goods.html'
						});
					}
				
				
			})
		</script>
	</body>

</html>